.item {
  position:relative;
  padding-top:10px;
  display:inline-block;
}
.onlinegreen{
  left: 90% !important;
  background-color: green;
}
.newMessage{
  //left: 90% !important;
  background-color: green;
}
.onlineBorder{
  //border-bottom: 1px solid !important;
  border-bottom-width:1px ;
  border-bottom-style: solid ;
  border-bottom-color: white;
}