.msgSender{
  width: 50% ;
  word-wrap: break-word;
  background-color: burlywood;
  position: relative;
  margin:3px;top:4px; left: 50%
}
.msgRecever{
  width: 50% ;
  word-wrap: break-word;
  background-color: burlywood;
  position: relative;
  margin:3px;top:4px; left: 0;
}
