.online-users-container {
  padding: 10px;
  border-right: 1px solid #ccc;
  background: #f9f9f9;
}

.online-users-container h4 {
  margin-bottom: 10px;
}

.online-users-container ul {
  list-style: none;
  padding: 0;
}

.online-users-container li {
  margin-bottom: 5px;
}
