.bgimage{
    background-image: url("../../../../../assets/fond.avif");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
  }